body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(247, 247, 247);
    margin: 20px;
}

.container {
    width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

h1 {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 6px;
    font-size: 26px;
    font-weight: 700;
}

.alert {
    background: #f8d7da;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    color: #842029;
    border: 1px solid #f5c2c7;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 26px;
}

.sub-row {
    display: flex;
    gap: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

input,
select,
textarea {
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: vertical;
}

.we-accept {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.we-accept span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.cards {
    margin-top: 6px;
    background: #6c757d;
    padding: 10px 14px;
    border-radius: 6px;
    display: flex;
    gap: 24px;
    width: fit-content;
}

.cards label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.cards input {
    appearance: none;
    width: 8px;
    height: 8px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.cards input:checked {
    background: white;
}

select:invalid {
    color: #777;
}

.buttons {
    text-align: right;
    margin: 25px -20px -20px -20px;
    background: rgb(247, 247, 247);
    padding: 15px 20px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background: gray;
    color: white;
}

button[type="submit"] {
    background: blue;
    color: white;
}